<h1>{{ title }}</h1>
<p>{{ body }}</p>
<hr>
<div>
    <h2 class="text-error">List of available beacons</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>Beacon ID</td>
            <td>Beacon Name</td>
            <td>Beacon Description</td>
            <td>Beacon Allocated (Y/N)</td>
            <td>Allocated Location</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>bc-l02-rec</td>
                <td>Level 2 Recreational Room Beacon</td>
                <td>Yes</td>
                <td>L2-REC-01</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>bc-l11-mtr</td>
                <td>Level 11 Meeting Room</td>
                <td>Yes</td>
                <td>L2-REC-01</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>bc-veh-rav</td>
                <td>RAV4 Red Color SUV</td>
                <td>Yes</td>
                <td>L2-REC-01</td>
            </tr>
            <tr>
                <td>1004</td>
                <td>bc-l2-rec</td>
                <td>Level 2 Recreational Room Beacon</td>
                <td>Yes</td>
                <td>L2-REC-01</td>
            </tr>
        </tbody>
    </table>
</div>
